<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

    <extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits" id="uml2xsd.UtilitiesLibrary">
        <library class="uml2xsd.UtilitiesLibrary">
            <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
            <metamodel nsURI="http://www.eclipse.org/emf/2003/XMLType"/>
            <metamodel nsURI="http://www.w3.org/2001/XMLSchema"/>
            <metamodel nsURI="http://www.eclipse.org/ocl/2015/Pivot"/>
            <metamodel nsURI="http://www.emftext.org/language/xpath2"/>
            <metamodel nsURI="http://www.eclipse.org/uml2/2.1.0/UML"/>
        </library>
    </extension>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iso20022-validation-result -->
      <package
            uri="urn:iso20022:validation:result"
            class="iso20022.validation.result.ValidationResultPackage"
            genModel="metamodel/iso20022-validation-result.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated iso20022-validation-result -->
      <parser
            type="validationresult"
            class="iso20022.validation.result.util.ValidationResultResourceFactoryImpl"/>
   </extension>
</plugin>
